DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_DISCORD_APPLICATION_CLIENT_ID
GUILD_ID=YOUR_DISCORD_SERVER_ID
RIOT_API_KEY=YOUR_RIOT_API_KEY
OWNER_DISCORD_ID=YOUR_DISCORD_USER_ID
LOL_DEFAULT_REGION=na1
LOL_DEFAULT_REGIONAL_ROUTING=americas
LOL_DEFAULT_TAGLINE=NA1
RIOT_REGION=americas
RIOT_PLATFORM=na1
RIOT_GAME_NAME=AngusAranda
RIOT_TAG_LINE=9787
